<header-section text="<%=f.capitalize(type.collection.name)%>"></header-section>

<div class="<%=theme.pageContainerCss%>">

	<table class="<%=theme.listTableCss%>" smallstack-list service="<%=f.lowerCaseFirst(f.getServiceName(type))%>" method="getAll<%=f.capitalize(type.collection.name)%>" models="<%=type.collection.name%>">
		<thead>
			<tr><% _.forEach(type.model.schema, function(schema){%>
				<th><%=f.capitalize(schema.name)%></th><%});%>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="<%=f.lowerCaseFirst(type.model.name)%> in <%=type.collection.name%> track by $id(<%=f.lowerCaseFirst(type.model.name)%>)"><% 
			_.forEach(type.model.schema, function(schema){
				switch(schema.type) {
					default:
						print("\n\t\t\t\t<td>{{" + f.lowerCaseFirst(type.model.name) + "." + schema.name + "}}</td>");						
				}
				});
				%>
				<td>
					<button class="<%=theme.btnClass%>" ng-click="<%=f.lowerCaseFirst(type.model.name)%>.delete()">Open</button>
					<button class="red <%=theme.btnClass%>" ng-click="<%=f.lowerCaseFirst(type.model.name)%>.delete()">Delete</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="<%=type.model.schema.length%>">
					<div align="center">
						<smallstack-list-load-more-button></smallstack-list-load-more-button>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>

</div>