stages: 
 - test
 - deploy

node6test:
  stage: test
  image: node:6.11.3
  script:
   - node -v
   - npm -v
   - npm install -g
   - smallstack help
   
node7test:
  stage: test
  image: node:7.10.1
  script:
   - node -v
   - npm -v
   - npm install -g
   - smallstack help
   
node8test:
  stage: test
  image: node:8.9.1
  script:
   - node -v
   - npm -v
   - npm install -g
   - smallstack help
   
   
osxtest:
  stage: test
  tags: 
   - osx
  script:
   - node -v
   - npm -v
   - npm install -g
   - smallstack help
   
   
npm_publish:
  stage: deploy
  image: node:latest
  only:
    - tags
  script:
    - npm install
    - npm run ci-publish
   
docker_image:
  stage: deploy
  image: docker:1.11.2
  only:
    - tags
  script:
   - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
   - docker build -t registry.gitlab.com/smallstack/smallstack-cli:$CI_COMMIT_TAG .
   - docker push registry.gitlab.com/smallstack/smallstack-cli:$CI_COMMIT_TAG
   - docker build -t registry.gitlab.com/smallstack/smallstack-cli:latest .
   - docker push registry.gitlab.com/smallstack/smallstack-cli:latest


