DocumentRoot <%=rootServerPath%>/bundle/public
PassengerAppRoot <%=rootServerPath%>/bundle

PassengerAppType node
PassengerStartupFile main.js
PassengerFriendlyErrorPages Off
PassengerStickySessions On

PassengerLogFile <%=rootServerPath%>/<%=projectName%>.log

SetEnv MONGO_URL mongodb://localhost:27017/<%=databaseName%>
SetEnv ROOT_URL <%=rootUrl%>
SetEnv SMALLSTACK_CONFIGURATION_SERVER_MEDIA_PATH <%=rootServerPath%>/medias
# SetEnv SMALLSTACK_CONFIGURATION_SERVER_ACCOUNTS_SERVICES_FACEBOOK_APPID xxxxx
# SetEnv SMALLSTACK_CONFIGURATION_SERVER_ACCOUNTS_SERVICES_FACEBOOK_SECRET xxxxx
# SetEnv SMALLSTACK_CONFIGURATION_SERVER_ACCOUNTS_SERVICES_GOOGLE_CLIENTID xxxxx
# SetEnv SMALLSTACK_CONFIGURATION_SERVER_ACCOUNTS_SERVICES_GOOGLE_SECRET xxxxx
# SetEnv SMALLSTACK_CONFIGURATION_SERVER_KADIRA_APPID xxxxx
# SetEnv SMALLSTACK_CONFIGURATION_SERVER_KADIRA_SECRET xxxxx

# Relax Apache security settings
<Directory <%=rootServerPath%>/bundle/public>
	Allow from all
	Options -MultiViews
	Require all granted
</Directory>