<header-section text="Create New <%=type.model.name%>"></header-section>

<div class="<%=theme.pageContainerCss%>">

	<form>
		<div class="<%=theme.tableRow%>">
			<% _.forEach(type.model.schema, function(schema){
			if (schema.name !== 'owner') {		
				var modelName = "new" + type.model.name + "." + schema.name;
				if (schema.collection !== undefined)
					modelName += "Id";	
				%><div class="<%=theme.inputFieldClasses%> <%=theme.tableCol%> <%=theme.fullsizeTableCol%>">
					<smallstack-editor type="<%=schema.type%>" model="<%=modelName%>"<% if (schema.collection !== undefined) print(' foreign-type="' + types[schema.collection].config.model.name + '"');%> label="<%=_.capitalize(schema.name)%>"></smallstack-editor>
				</div>
				<%		
				}
			});%>
		</div>
		<div class="<%=theme.tableRow%>" align="center">
			<a class="<%=theme.btnClass%>" ng-click="vm.create<%=type.model.name%>()">Create <%=type.model.name%></a>
		</div>
	</form>
</div>